header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 37);
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.api{
    font-weight: 800;
    color:burlywood;
}

.receitas{
    font-weight: 600;
}