.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
    gap: 18px;
}

.card-receita{
    width: 600px;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(36, 36, 37);
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 3px 3px 3px 4px #c6c6c6;
}

.info-receitas{

    h2{
        font-size: 20px;
    }

    img{
        height: 160px;
        width: 180px;
        border: 2px solid #fff;
        border-radius: 10px;
    }

}

.ingredientes-modoprep{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    
    h1{
        font-size: 18px;
    }
    p{
        font-size: 14px;
        width: 500px;
        margin-bottom: 0px;
    }
}